body{
  font-family: 'Poppins', sans-serif;
}
.nav-item{
    width: 10vw;
}
.nav-item .nav-link:hover{
    color:#ff8000ed!important;
}
/*video section*/
.video-section{
   background-color: rgb(41, 39, 39);
    position: relative;
    
}
.video-section video{
    filter: brightness(40%);
}

.text-overlay{
    
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 45% !important;
}
.p-link{
    color:rgb(86, 208, 238);
    text-decoration: none;
}
.p-link:hover{
    color: rgb(237, 168, 41);
}
/*swiper part*/
.bg-section{
    background-image: url(./images/meetings-page-bg.jpg);
    background-position: 100% 100%;
    height: 100%;
    width: 100%;
    
}
/*swip card*/
.swiper {
    width: 100%;
    height: 100%;
    top: -10vw;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 15px;
   background-image: url(./images/service-item-bg.jpg);
   background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide img {
    display: block;
    
  }

  .swiper-slide {
    width: 33.333333%;
   
  }
  .swiper-wrapper .swiper-slide{
   
    overflow: hidden;
  }

 /* .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }*/
  @media only screen and  (max-width: 768px) {
   .swiper {
    top: 5;
   }
   .text-overlay{
    
    position: absolute;
    top: 5vw;
    left: 10vw;
    width: 45% !important;
    font-size: 10px;
}
  }
  /*meeting*/
  .span-tk{
    position: absolute;
    top: 2vw !important;
    left:2vw !important;
  }
  .meet{
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
      display: block;
  }
  .meet:hover img{
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition: 0.5s ease-in-out;
  }
  .meet:hover .card-body .head{
    color: rgb(237, 168, 41) !important;
  }
  /*apply part*/
  .apply-section{ 
    background:url("./images/apply-bg.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    background-blend-mode: darken !important;

 }
 .bg-testi::before{
    background-color: rgba(0, 0, 0, 0.55) !important;
    background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
 
}
  
  .apply-for{
    background-color: rgba(111, 111, 111, 0.55) !important;
  }
 

.accordion-flush.accordion {
  --bs-accordion-btn-bg: #ffffff;
  --bs-accordion-active-bg: rgb(255, 255, 255);
  --bs-accordion-active-color:#ff8000ed;
  --bs-accordion-bg: rgb(252, 254, 253);
  --bs-accordion-color: #171717;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: unset;
  
  
}

.accordion-flush .accordion-button {
  border-top: 1px solid #4f4e4e;
  font-weight: bold;
  font-size: 65%;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-flush .accordion-item:last-child .accordion-button.collapsed,
.accordion-flush .accordion-item:last-child .accordion-body {
  border-bottom: 1px solid #575656;
}
/* course*/
.course-tk{
  color: maroon;
}
.course{
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
    display: block;
    background-color:#1D1D1D ;
}
.course:hover img{
  -webkit-transform: scale(1.1);
transform: scale(1.1);
 transition: 0.5s ease-in-out;
 opacity: 25%;
}

/*fact section*/
.fact-section{
  
  background:url("./images/facts-bg.jpg");
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  background-blend-mode: darken !important;

}
.bg-testi::before{
  background-color: rgba(0, 0, 0, 0.55) !important;
  background-size: cover;
content: '';
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;


}
.video-bg{
  bottom: 250px;
  left: 240px;
  z-index: 1;
  position: relative;
}
.fact-head{
  color:#f8a048ed!important;
}
/*contact*/
.bg-section-1{
  background-image: url(./images/meetings-page-bg.jpg);
  background-position: 100% 100%;
  height: 100%;
  width: 100%;
  position: relative;
  top: -1px;
}
.contact-bg{
  background-image: url(./images/service-item-bg.jpg);
  position: relative;
  height: 100%;
  width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    

}
/*footer*/
.foo{
  position: relative;
  top: -1px;
}
.foo-icon:hover{
  color:#f8a048ed !important;
  
}